<div id="at_top">
	<div class="row">
		<div class="large-12 columns text-center">
			<div class="at_block">
                <a class="at_icon_menu_item" href="{{@blog.url}}/about"><span class="fa fa-bar-chart-o"></span> Acerca de nosotras</a>
                <a class="at_icon_menu_item" href="{{@blog.url}}/faq"><span class="fa fa-question-circle"></span> Preguntas frecuentes</a>
			</div>
		</div>
	</div>
</div>
