<div class="left-off-canvas-menu">
	<ul class="off-canvas-list">
		<li><label>Main Menu</label></li>
		<li><a class="at_menu_item" href="{{@blog.url}}"><span class="fa fa-home"></span> Inicio</a></li>
		<li><a class="at_menu_item" href="{{@blog.url}}/about"><span class="fa fa-bar-chart-o"></span> Acerca de nosotras</a></li>
		<li><a class="at_menu_item" href="{{@blog.url}}/faq"><span class="fa fa-question-circle"></span> Preguntas frecuentes</a></li>
	</ul>
</div>